.Play-Screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;

  h1 {
    color: #F3e8ee;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  &-Title-Area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  &-Text {
    color: #F3e8ee;
    font-size: 1.5rem;
    font-style: italic;
  }

  &-Button {
    border: 4px solid #F3e8ee;
    border-radius: 0.5rem;
    color: #F3e8ee;
    background: transparent;
    padding: 15px 20px;
    font-size: 2rem;
    font-family: 'Pixelify Sans';
    font-weight: bold;
    &:hover {
      color: #bacdb0;
      border-color: #bacdb0;
    }
  }
}
