.Screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .Next-Btn,
  .Btn {
    margin-top: 1rem;
    background-color: #2e2c2f;
  }

  .Text-Box {
    background-color: #2e2c2f;
  }
}

.Next-Btn {
  border: 2px solid #f3e8ee;
  border-radius: 0.5rem;
  color: #f3e8ee;
  background: transparent;
  padding: 0.5rem 15px;
  font-size: 20px;
  font-family: 'Pixelify Sans';
  font-weight: bold;
  width: fit-content;
  transition:
    color 0.3s,
    border-color 0.3s;

  &:hover {
    color: #bacdb0;
    border-color: #bacdb0;
  }
}

.Btn {
  border: 2px solid #f3e8ee;
  border-radius: 0.5rem;
  color: #f3e8ee;
  background: transparent;
  padding: 0.5rem 15px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  width: fit-content;
  transition:
    color 0.3s,
    border-color 0.3s;

  &:hover {
    color: #bacdb0;
    border-color: #bacdb0;
  }
}

.Full-Screen {
  width: 100vw;
  height: 100vh;
  background-color: #2e2c2f;
}

.Max-Width {
  max-width: 1000px;
}
