.Spire-Entrance-Screen,
.Spire-Floor-3-Screen {
  transition: transform 0.6s ease-in-out;

  .Choices,
  .Next-Btn {
    margin-bottom: 30rem;
  }

  .Choices .Next-Btn {
    margin-bottom: unset;
  }
}

.Spire-Floor-3-Screen.Zoom-Center,
.Spire-Floor-3-Screen.Zoom-Right {
  .Next-Btn {
    margin-bottom: 18rem;
  }
}

.Spire-Floor-7-Screen {
  .Choices,
  .Next-Btn {
    margin-bottom: 40rem;
  }
}

.Spire-Boss-Screen {
  .Text-Box {
    margin-top: 35rem;
  }
}
